<header class="site-header">
	<div class="wrap">
		<div class='cont'>
			<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
			<a class='site-nav-menu' href='#nav'>
				<span class='icon'></span>
			</a>
			<div class='site-nav'>
				<nav id='nav'>
					<a href="{{ site.baseurl }}/about/" title="what this is all about">
						<span class="icon icon-about"></span><span class='tx'>about</span>
					</a>
					<a href="{{ site.baseurl }}/copying/" title="note on legalese">
						<span class="icon icon-copying"></span><span class='tx'>copying</span>
					</a>
					<a href="https://github.com/{{ site.github_username }}" title="me on github">
						<span class="icon icon-github"></span><span class='tx'>github</span>
					</a>
					<a href="https://twitter.com/{{ site.twitter_username }}" title="me lazily tweeting">
						<span class="icon icon-twitter"></span><span class='tx'>twitter</span>
					</a>
					<a href="{{ site.baseurl }}/feed.xml" title="check the feed">
						<span class="icon icon-feed"></span><span class='tx'>feed</span>
					</a>
				</nav>
			</div>
		</div>
  </div>
</header>
